<html>
    <head>
        <title>Login</title>
    </head>
    <style>
        body{
            text-align: center;
        }
    </style>
    <body>
        <form action="http://localhost:5000/success" method="POST">
            <input type="name" name="name" placeholder="Enter your name">
            <br>
            <br>
            <input type="password" name="pass" placeholder="Enter your password">
            <br>
            <br>
            <input type="submit" value="submit">



        </form>
    </body>
</html>